
body{
    font-family: Calibri, sans-serif;
}
*{
    box-sizing: border-box;
}

.graycontainer{
    position: absolute;
    display: inline-block;
}
.grayletters{
    position: absolute;
    display: grid;
    width: 320px;
    grid-template-columns: auto auto auto auto;
    margin: 20px;
} 
.whiteletters{
    color: white;
}
.letter{
    display: flex;
    height: 75px;
    width: 65px;
    margin: 7px;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    border: 3px solid black;
    z-index: 1;
}
.buildButton{
    margin: 540px 168px;
    position: absolute;
    width: 145px;
    background-color: red;
    color: white;
}

.startButton{
    text-align: center;
    margin: 150px 380px;
    position: absolute;
    width: 350px;
    color: red;
    z-index: 2;
}

.wordToGuessBox{
    text-align: justfiy;
    margin: 500px 400px;
    position: relative;
    width: 200px;
    color: green;
    border: 3px;
    z-index: 3;
    font-family: Calibri, sans-serif;
    
}

.wordToGuessBoxHide{
    height: 75px;
    width: 65px;
    margin: 10px;
    font-size: 40px;
    text-align: justify;
    font-weight: bold;
    font-family: Calibri, sans-serif;
    position: relative;
    background: green;
    border: 3px solid greenyellow;
    padding: 8px;
    color:black;
    z-index: 3;
    letter-spacing: 8px;
}
.wordToGuessBoxReveal{
    color: white;
}
#background{
    position: absolute;
    z-index: 0;
}

#alien{
    position: absolute;
}

.ring{
    position: absolute;
    display:block;
}

.engine1{
    position: absolute;
    display:block;
}

.engine2{
    position: absolute;
    display:block;
}

.engine3{
    position: absolute;
    display:block;
}

.dome{
    position: absolute;
    display:block;
}

.window1{
    position: absolute;
    display:block;
}

.window2{
    position: absolute;
    display:block;
}

.window3{
    position: absolute;
    display:block;
}

.antenna{
    position: absolute;
    display:block;
}
.byebyeAlien{
    position: absolute;
    display:none;
    z-index: 4
}
.imagehide{
    display:none;
    }
.imageshow{
    display:block;
    }
